<main class="l-main">
	<% if(messages.error){ %>
	<section class="featured section" id="shop">
		<h2 class="section-title">SEARCH PRODUCT</h2>
		<div class="featured_container bd-grid">
			<div class="form-search">
				<form action="/products/search?q=" method="get">
					<input type="text" name="q" class="search" value="<%= messages.q %>">
					<input type="submit" class="btn-search" value="Search">
				</form>
			</div>
			<p><%= messages.error %></p>
		</div>
	</section>
	<% }else if(messages.q){ %>
	<section class="featured section" id="shop">
		<h2 class="section-title">SEARCH PRODUCT</h2>
		<div class="form-search">
			<form action="/products/search?q=" method="get">
				<input type="text" name="q" class="search" value="<%= messages.q %>">
				<input type="submit" class="btn-search" value="Search">
			</form>
		</div>
		<div class="featured_container bd-grid">
			<% records.forEach(product=>{ %>
			<article class="book">
				<img src="<%= product.image %>" class="book_img">
				<span class="book_name"><%= product.title %></span>
				<span class="book_price"><%= product.price %>$</span>
				<a data-product="<%= JSON.stringify(product)%>" class="button-light btn add-to-cart">Add To Cart</a>
			</article>
			<% }) %>
		</div>
		<div class="book_pages bd-grid">
			<div>
				<% if(page>1){ %>
				<span class="book_pag"><a href="?page=<%= page-1 %>"><i class='bx bxs-chevron-left'></i></a></span>
				<% } %>
				<% for(var i = 1; i <= totalPages; i++){ %>
				<% if(i != page){ %>
				<% if(i>page-3&&i<page+3){ %>
				<span class="book_pag"><a href="?page=<%= i %>"><%= i %> </a></span>
				<% } %>
				<% }else{ %>
				<span class="book_pag"><a href=""><%= i %></a></span>
				<% } %>
				<% } %>
				<% if(page<totalPages-2){ %>
				<span class="book_pag"><a href="?page=<%= page1 %>"><i class='bx bxs-chevron-right'></i></a></span>
				<% } %>
			</div>
		</div>
	</section>
	<% }else{ %>
	<section class="featured section" id="shop">
		<h2 class="section-title">ALL PRODUCT</h2>
		<div class="form-search">
			<form action="/products/search?q=" method="get">
				<input type="text" name="q" class="search" value="<%= messages.q %>">
				<input type="submit" class="btn-search" value="Search">
			</form>
		</div>
		<div class="featured_container bd-grid">
			<% records.forEach(product=>{ %>
			<article class="book">
				<img src="<%= product.image %>" class="book_img">
				<span class="book_name"><%= product.title %></span>
				<span class="book_price"><%= product.price %>$</span>
				<a data-product="<%= JSON.stringify(product)%>" class="button-light btn add-to-cart">Add To Cart</a>
			</article>
			<% }) %>
		</div>
		<div class="book_pages bd-grid">
			<div>
				<% if(page>1){ %>
				<span class="book_pag"><a href="?page=<%= page-1 %>"><i class='bx bxs-chevron-left'></i></a></span>
				<% } %>
				<% for(var i = 1; i <= totalPages; i++){ %>
				<% if(i != page){ %>
				<% if(i>page-3&&i<page+3){ %>
				<span class="book_pag"><a href="?page=<%= i %>"><%= i %> </a></span>
				<% } %>
				<% }else{ %>
				<span class="book_pag"><a href=""><%= i %></a></span>
				<% } %>
				<% } %>
				<% if(page<totalPages-2){ %>
				<span class="book_pag"><a href="?page=<%= page1 %>"><i class='bx bxs-chevron-right'></i></a></span>
				<% } %>
			</div>
		</div>
	</section>
	<% } %>
</main>