<main class="section">
  <% if(messages.error){ %>
  <section class="featured section" id="shop">
    <h2 class="section-title">SEARCH PRODUCT</h2>

    <div class="featured_container bd-grid">
      <div class="form-search">
        <form action="/admin/products/search" method="get">
          <input type="text" name="q" class="search" placeholder="Title" value="<%= messages.q %>">
          <input type="submit" class="btn-search" value="Search">
        </form>
      </div>
      <p><%= messages.error %></p>
    </div>
  </section>
  <% }else if(messages.q){ %>
  <div class="admin-wrapper">
    <div class="item left-sidebar">
      <ul>
        <li><a href="/admin/users">Manage User</a></li>
        <li><a href="/admin/products">Manage Product</a></li>
        <li><a href="/admin/orders">Manage Order</a></li>
      </ul>
    </div>
    <div class="item admin-content">
      <div class="content">
        <% if(messages.error){ %>
        <small id="err"><%= messages.error %> </small>
        <% }else{ %>
        <h2 class="section-title">SEARCH PRODUCT</h2>
        <div>
          <a href="/admin/products/add" class="admin-button">Add Product</a>
        </div>
        <div class="form-search search-product">
          <form action="/admin/products/search" method="get">
            <input type="text" name="q" class="search" placeholder="Title" value="<%= messages.q %>">
            <input type="submit" class="btn-search" value="Search">
          </form>
        </div>
        <table class="admin-table">
          <thead>
            <th>ID</th>
            <th>Image</th>
            <th>Title</th>
            <th>Total Quantity</th>
            <th>Action</th>
          </thead>
          <tbody>
            <% records.forEach(product => { %>
            <tr>
              <td><%= product._id %> </td>
              <td><img src="<%= product.image%>"></td>
              <td><%= product.title %> </td>
              <td><%= product.totalQty %> </td>
              <td>
                <form action="/admin/products/edit/<%= product._id %>" method="get">
                  <input type="submit" class="btn-action" value="Edit">
                </form>
                <form action="/admin/products/<%= product._id %>?_method=DELETE" method="post">
                  <input type="submit" class="btn-action-delete" value="Delete">
                </form>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <div class="book_pages bd-grid">
        <div>
          <% if(page>1){ %>
          <span class="book_pag"><a href="?page=<%= page-1 %>"><i class='bx bxs-chevron-left'></i></a></span>
          <% } %>
          <% for(var i = 1; i <= totalPages; i++){ %>
          <% if(i != page){ %>
          <% if(i>page-3&&i<page+3){ %>
          <span class="book_pag"><a href="?page=<%= i %>"><%= i %> </a></span>
          <% } %>
          <% }else{ %>
          <span class="book_pag"><a href=""><%= i %></a></span>
          <% } %>
          <% } %>
          <% if(page<totalPages-2){ %>
          <span class="book_pag"><a href="?page=<%= page+1 %>"><i class='bx bxs-chevron-right'></i></a></span>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <% }else{ %>
  <div class="admin-wrapper">
    <div class="item left-sidebar">
      <ul>
        <li><a href="/admin/users">Manage User</a></li>
        <li><a href="/admin/products">Manage Product</a></li>
        <li><a href="/admin/orders">Manage Order</a></li>
      </ul>
    </div>
    <div class="item admin-content">
      <div class="content">
        <% if(messages.error){ %>
        <small id="err"><%= messages.error %> </small>
        <% }else{ %>
        <h2 class="section-title">MANAGE PRODUCT</h2>
        <div>
          <a href="/admin/products/add" class="admin-button">Add Product</a>
        </div>
        <div class="form-search search-product">
          <form action="/admin/products/search" method="get">
            <input type="text" name="q" class="search" placeholder="Title" value="<%= messages.q %>">
            <input type="submit" class="btn-search" value="Search">
          </form>
        </div>
        <table class="admin-table">
          <thead>
            <th>ID</th>
            <th>Image</th>
            <th>Title</th>
            <th>Total Quantity</th>
            <th>Action</th>
          </thead>
          <tbody>
            <% records.forEach(product => { %>
            <tr>
              <td><%= product._id %> </td>
              <td><img src="<%= product.image%>"></td>
              <td><%= product.title %> </td>
              <td><%= product.totalQty %> </td>
              <td>
                <form action="/admin/products/edit/<%= product._id %>" method="get">
                  <input type="submit" class="btn-action" value="Edit">
                </form>
                <form action="/admin/products/<%= product._id %>?_method=DELETE" method="post">
                  <input type="submit" class="btn-action-delete" value="Delete">
                </form>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <div class="book_pages bd-grid">
        <div>
          <% if(page>1){ %>
          <span class="book_pag"><a href="?page=<%= page-1 %>"><i class='bx bxs-chevron-left'></i></a></span>
          <% } %>
          <% for(var i = 1; i <= totalPages; i++){ %>
          <% if(i != page){ %>
          <% if(i>page-3&&i<page+3){ %>
          <span class="book_pag"><a href="?page=<%= i %>"><%= i %> </a></span>
          <% } %>
          <% }else{ %>
          <span class="book_pag"><a href=""><%= i %></a></span>
          <% } %>
          <% } %>
          <% if(page<totalPages-2){ %>
          <span class="book_pag"><a href="?page=<%= page+1 %>"><i class='bx bxs-chevron-right'></i></a></span>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <% } %>
</main>